<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style2.css">

    <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
    <title>hello world</title>
</head>
<body>

  {{#each data}}
       
         <br>
             
            
          

<canvas id="myChart" style="width:100%;max-width:700px"></canvas>


<script>


var xValues = ["Yes", "No", "no answer"];
var yValues = [{{this.yess}} ,{{this.noo}} ,{{this.idkk}} ];
var barColors = [
  "#E2DCDA",
  "#AAA9A8",
  "#5D5B58",

];
var col = [
 'blue  ',
 'blue',
 'blue'
];



new Chart("myChart", {
  type: "pie",
  
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      borderColor: col,
      
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "results "
    }
  }
});
</script>

  {{/each}}

</body>
</html>